body{
    background-image: ulr('../record.png');
    background: linear-gradient(skyblue, lightgreen);
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-image: ulr("/assignment/record.png");
    background-image: ulr("record.png");
    background-size: cover;
    padding: 0px;
    margin: 0px;
}

.header{
    color: rgb(255, 188, 188);
    background-color: black;
    text-align: center;
}

.main{
    background-color: antiquewhite;
}

