body{
    background: linear-gradient(skyblue, lightgreen);
    background-image: url("record.png");
    padding: 0px;
    margin: 0px;
}

.header{
    color: rgb(255, 188, 188);
    background-color: black;
    text-align: center;
}

.main{
    background-color: antiquewhite;
}

